---
- name: Create etc directory
  file:
    path: /etc/aether-monitoring-agent
    state: directory
  become: true

- name: Create OTEL config file
  template:
    src: otel-collector-config.yml.j2
    dest: /etc/aether-monitoring-agent/otel-collector-config.yml
    mode: "0644"
  become: true

- name: Create pod quadlet
  containers.podman.podman_pod:
    name: aether-monitoring-agent
    state: quadlet
    network: host
    restart_policy: on-failure
    recreate: true
  become: true

- name: Create node exporter container quadlet
  containers.podman.podman_container:
    name: aether-monitoring-agent-node-exporter
    image: docker.io/prom/node-exporter:latest
    pod: aether-monitoring-agent.pod
    user: "0:0"
    command:
      - "--path.rootfs=/hostfs"
    volumes:
      - /:/hostfs:ro,rslave
    pid: host
    state: quadlet
  become: true

- name: Cretae otel collector container quadlet
  containers.podman.podman_container:
    name: aether-monitoring-agent-otel-collector
    image: docker.io/otel/opentelemetry-collector-contrib:latest
    state: quadlet
    pod: aether-monitoring-agent.pod
    volumes:
      - /etc/aether-monitoring-agent/otel-collector-config.yml:/etc/otelcol-contrib/config.yaml
  become: true

- name: Reload systemd
  systemd:
    daemon_reload: yes
  become: true

- name: Start monitoring agent quadlet
  systemd:
    name: aether-monitoring-agent-pod
    state: restarted
  become: true
