apiVersion: 1

policies:
  - orgId: 1
    receiver: apprise-standard
    group_by:
      - grafana_folder
      - alertname
    group_wait: 30s
    group_interval: 5m
    repeat_interval: 4h
    routes:
      - receiver: apprise-critical
        matchers:
          - severity = critical
        continue: false
