---
- name: Destroy Packer VM
  hosts: trinity
  gather_facts: true
  roles:
    - common
  tasks:
    - name: Check if VyOS packer exists
      community.general.proxmox_vm_info:
        vmid: "{{ vm.vyos_packer.id }}"
        node: "{{ vm.vyos_packer.node }}"
        api_host: "{{secrets.proxmox.cluster_host}}"
        api_user: "{{secrets.proxmox.cluster_username}}"
        api_password: "{{secrets.proxmox.cluster_password}}"
      register: previous_vm_info
      ignore_errors: true

    - name: Stop VyOS packer
      community.general.proxmox_kvm:
        vmid: "{{ vm.vyos_packer.id }}"
        name: "vyos-packer"
        node: "{{ vm.vyos_packer.node }}"
        api_host: "{{secrets.proxmox.cluster_host}}"
        api_user: "{{secrets.proxmox.cluster_username}}"
        api_password: "{{secrets.proxmox.cluster_password}}"
        state: stopped
      when: (previous_vm_info.proxmox_vms | length) > 0
      register: stop_result
      until: not stop_result.failed
      retries: 5
      delay: 5

    - name: Delete existing VyOS packer
      community.general.proxmox_kvm:
        vmid: "{{ vm.vyos_packer.id }}"
        name: "vyos-packer"
        node: "{{ vm.vyos_packer.node }}"
        api_host: "{{secrets.proxmox.cluster_host}}"
        api_user: "{{secrets.proxmox.cluster_username}}"
        api_password: "{{secrets.proxmox.cluster_password}}"
        state: absent
      when: (previous_vm_info.proxmox_vms | length) > 0
      register: delete_result
      until: not delete_result.failed
      retries: 5
      delay: 5

    - name: Delete Packer disk
      command: "qm del {{ vm.vyos_packer.id }} --storage local-lvm"
      when: (previous_vm_info.proxmox_vms | length) > 0
