---
- name: Configure Proxmox NFS storage
  hosts: smith
  gather_facts: true
  roles:
    - common
  tasks:
    - name: Confirm NFS server is reachable
      wait_for:
        host: "{{vm.nfs.ip}}"
        port: 2049
        timeout: 300
      register: wait_result
      until: not wait_result.failed
      retries: 5
      delay: 5

    - name: Check if nfs-nvme-vm-dataset storage is added to proxmox
      command: pvesm status --storage nfs-nvme-vm-dataset
      register: nvme_pool_status
      ignore_errors: yes
      changed_when: false

    - name: Add nfs-nvme-vm-dataset storage to proxmox if not exists
      command: pvesm add nfs nfs-nvme-vm-dataset --server {{vm.nfs.ip}} --export /mnt/nvme/vm  --content images,rootdir,vztmpl,iso,backup,snippets
      when: nvme_pool_status.rc != 0

    - name: Check if nfs-hdd-vm-dataset storage is added to proxmox
      command: pvesm status --storage nfs-hdd-vm-dataset
      register: hdd_pool_status
      ignore_errors: yes
      changed_when: false

    - name: Add nfs-hdd-vm-dataset storage to proxmox if not exists
      command: pvesm add nfs nfs-hdd-vm-dataset --server {{vm.nfs.ip}} --export /mnt/hdd/vm  --content images,rootdir,vztmpl,iso,backup,snippets
      when: hdd_pool_status.rc != 0
