# Apprise Configuration
# Docs: https://github.com/caronc/apprise/wiki

version: 1

urls:
  - "ntfy://{{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.ntfy }}/alerts":
      tag: alerts

  - "ntfy://{{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.ntfy }}/system":
      tag: system

  - "matrix://{{ secrets.matrix.aether_bot_user }}:{{ secrets.matrix.aether_bot_password }}@{{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.synapse }}/#alerts":
      tag: chat

  - "mailto://{{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.smtp }}?from=notifications@shdr.ch&to={{ secrets.notification_email }}":
      tag: email

groups:
  - critical: alerts, system, chat, email
  - standard: alerts, chat
  - quiet: chat
  - push: alerts
