# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: "matrix.home.shdr.ch"
pid_file: /data/homeserver.pid
listeners:
  - port: {{ vm.messaging_stack.ports.synapse }}
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: "{{ secrets.matrix.database_user }}"
    password: "{{ secrets.matrix.database_password }}"
    dbname: "{{ secrets.matrix.database_user }}"
    host: localhost
log_config: "/data/matrix.home.shdr.ch.log.config"
media_store_path: /data/media_store
registration_shared_secret: "{{ secrets.matrix.registration_shared_secret }}"
report_stats: false
macaroon_secret_key: "{{ secrets.matrix.macaroon_secret_key }}"
form_secret: "{{ secrets.matrix.form_secret }}"
signing_key_path: "/data/matrix.home.shdr.ch.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"
# vim:ft=yaml
