[Unit]
Description=Timer for coupe updater
Requires=coupe-updater.service

[Timer]
OnBootSec=30
OnUnitActiveSec=60
Persistent=true

[Install]
WantedBy=timers.target
