stages:
  - build

variables:
  IMAGE_NAME: "$CI_REGISTRY_IMAGE/tools"
  DOCKER_BUILDKIT: "1"

build-tools-image:
  stage: build
  image: docker:24-dind
  services:
    - docker:24-dind

  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

  script:
    - docker build -f tools.dockerfile -t "$IMAGE_NAME:$CI_COMMIT_REF_SLUG" .

    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ] || [ "$CI_COMMIT_BRANCH" = "master" ]; then
        docker tag "$IMAGE_NAME:$CI_COMMIT_REF_SLUG" "$IMAGE_NAME:latest"
      fi

    - docker push "$IMAGE_NAME:$CI_COMMIT_REF_SLUG"
    - |
      if [ "$CI_COMMIT_BRANCH" = "main" ] || [ "$CI_COMMIT_BRANCH" = "master" ]; then
        docker push "$IMAGE_NAME:latest"
      fi

  rules:
    - if: '$CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master"'
