[customizations.installer.kickstart]
contents = """
text --non-interactive
zerombr
clearpart --all --initlabel --disklabel=gpt
autopart --noswap --type=lvm

network --bootproto=static --device=link --ip={{ vm.game_server.ip }}/24 --gateway={{ vm.game_server.gateway }} --nameserver={{ vm.game_server.gateway }}

user --name={{ vm.game_server.admin }} --password="{{ secrets.game_server_password }}" --plaintext
{% for key in ssh_authorized_keys %}
sshkey --username={{ vm.game_server.admin }} "{{ key }}"
{% endfor %}

rootpw --lock

lang en_US.UTF-8
keyboard us
timezone America/Toronto --utc
"""
