#cloud-config
package_update: true
package_upgrade: true
users:
  - name: "{{ vm.game_server.admin }}"
    ssh_pwauth: false
    lock_passwd: false
    chpasswd:
      expire: false
    plain_text_passwd: "{{ secrets.game_server_password }}"
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    groups:
      - sudo
    ssh_authorized_keys:
    {% for key in ssh_authorized_keys %}
      - "{{ key }}"
    {% endfor %}
