[Unit]
Description=Aether X.509 certificate expiry exporter
Documentation=https://github.com/enix/x509-certificate-exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ x509_certificate_exporter_binary_path }} --config={{ x509_certificate_exporter_config_path }}
Restart=always
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictAddressFamilies=AF_INET AF_INET6
CapabilityBoundingSet=CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_DAC_READ_SEARCH
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
