---
- name: Base Dev Workstation setup
  hosts: dev-workstation
  gather_facts: true
  roles:
    - common
    - linger
    - monitoring_agent
    - docker
  tasks:
    - name: Write private key to file
      copy:
        content: "{{ tf_outputs.home_dev_workstation_private_key.value }}"
        dest: "/home/{{ vm.dev_workstation.admin }}/.ssh/id_ed25519"
        mode: "0600"
        owner: "{{ vm.dev_workstation.admin }}"
        group: "{{ vm.dev_workstation.admin }}"

    - name: Write public key to file
      copy:
        content: "{{ tf_outputs.home_dev_workstation_public_key.value }}"
        dest: "/home/{{ vm.dev_workstation.admin }}/.ssh/id_ed25519.pub"
        mode: "0644"
        owner: "{{ vm.dev_workstation.admin }}"
        group: "{{ vm.dev_workstation.admin }}"

    - name: Ensure ssh service is running
      systemd:
        name: sshd
        state: started
        enabled: true

    - name: Install libdnf5
      become: true
      command: dnf -y install python3-libdnf5

    - name: Install required packages
      become: true
      dnf:
        name:
          - git
          - go-task
          - jq
        state: present

    - name: Create symlink from task to go-task
      become: true
      ansible.builtin.file:
        src: "/usr/bin/go-task"
        dest: "/usr/bin/task"
        state: link
        mode: "0755"
