model_list:
  # Ollama models
  - model_name: "aether/mistral-small3.2"
    litellm_params:
      model: "openai/mistral-small3.2"
      litellm_credential_name: ollama_credential
  - model_name: "aether/qwen3:30b"
    litellm_params:
      model: "openai/qwen3:30b"
      litellm_credential_name: ollama_credential
  - model_name: "aether/gpt-oss:120b"
    litellm_params:
      model: "openai/gpt-oss:120b"
      litellm_credential_name: ollama_credential
  - model_name: "aether/MichelRosselli/GLM-4.5-Air:Q5_K_M"
    litellm_params:
      model: "openai/MichelRosselli/GLM-4.5-Air:Q5_K_M"
      litellm_credential_name: ollama_credential
  - model_name: "aether/qwen3-embedding:4b"
    litellm_params:
      model: "openai/qwen3-embedding:4b"
      litellm_credential_name: ollama_credential
  - model_name: "aether/gemma3:27b"
    litellm_params:
      model: "openai/gemma3:27b"
      litellm_credential_name: ollama_credential
  - model_name: "aether/qwen3:8b"
    litellm_params:
      model: "openai/qwen3:8b"
      litellm_credential_name: ollama_credential

  # OpenAI models
  - model_name: "openai/gpt-5"
    litellm_params:
      model: "openai/gpt-5"
      litellm_credential_name: openai_credential
  - model_name: "openai/gpt-5-nano"
    litellm_params:
      model: "openai/gpt-5-nano"
      litellm_credential_name: openai_credential

  # Anthropic models
  - model_name: "anthropic/claude-opus-4.1"
    litellm_params:
      model: "anthropic/claude-opus-4-1"
      litellm_credential_name: anthropic_credential
  - model_name: "anthropic/claude-sonnet-4-5"
    litellm_params:
      model: "anthropic/claude-sonnet-4-5"
      litellm_credential_name: anthropic_credential

credential_list:
  - credential_name: ollama_credential
    credential_values:
      api_base: https://ollama.home.shdr.ch/v1
      api_key: none
    credential_info:
      description: "Ollama"
  - credential_name: openai_credential
    credential_values:
      api_key: os.environ/OPENAI_API_KEY
    credential_info:
      description: "OpenAI"
  - credential_name: anthropic_credential
    credential_values:
      api_key: os.environ/ANTHROPIC_API_KEY
    credential_info:
      description: "Anthropic"

litellm_settings:
  drop_params: true
  turn_off_message_logging: false
  set_verbose: true
  json_logs: true

general_settings:
  store_prompts_in_spend_logs: true

mcp_servers:
  time:
    transport: "stdio"
    command: "uvx"
    args: ["mcp-server-time", "--local-timezone=America/Toronto"]
  firecrawl:
    url: "https://mcp.firecrawl.home.shdr.ch/mcp"
