receivers:
  journald:
    directory: /hostfs/var/log/journal/
    storage: file_storage/journald_cursor_storage
    matches:
      - _UID: "1000"
      - _SYSTEMD_UNIT: sshd
      - _SYSTEMD_UNIT: auditd
      - _SYSTEMD_UNIT: systemd-journald
      - _SYSTEMD_UNIT: systemd-logind
      - _SYSTEMD_UNIT: systemd-oomd
      - _SYSTEMD_UNIT: NetworkManager
      - _SYSTEMD_UNIT: aether-monitoring-agent-pod
      - _SYSTEMD_UNIT: aether-monitoring-agent-otel-collector
  filelog:
    storage: file_storage/filelog_cursor_storage
    include:
      - /hostfs/var/log/*.log
      - /hostfs/var/lib/docker/containers/*/*-json.log
  prometheus:
    config:
      scrape_configs:
        - job_name: 'node'
          scrape_interval: 15s
          static_configs:
            - targets: ['localhost:9100']

processors:
  batch:
    send_batch_size: 100
    timeout: 10s
  resource:
    attributes:
      - key: host.name
        value: "{{ inventory_hostname }}"
        action: insert
      - key: service.name
        value: "{{ inventory_hostname }}"
        action: insert
      - key: os.type
        value: "{{ ansible_distribution }}"
        action: insert

extensions:
  file_storage/journald_cursor_storage:
    directory: /var/lib/otelcol/storage
  file_storage/filelog_cursor_storage:
    directory: /var/lib/otelcol/storage

exporters:
  otlphttp:
    endpoint: https://otel.home.shdr.ch

service:
  extensions: [file_storage/journald_cursor_storage, file_storage/filelog_cursor_storage]
  pipelines:
    metrics:
      receivers: [prometheus]
      processors: [batch, resource]
      exporters: [otlphttp]
    logs:
      receivers: [journald, filelog]
      processors: [batch, resource]
      exporters: [otlphttp]
