{
  "identities": [
    {
      "name": "admin",
      "credentials": [
        {
          "accessKey": "{{ seaweedfs_s3_admin_access_key }}",
          "secretKey": "{{ seaweedfs_s3_admin_secret_key }}"
        }
      ],
      "actions": ["Admin", "Read", "Write", "List", "Tagging"]
    }
  ]
}


