[Unit]
Description=SeaweedFS S3 Gateway
After=network-online.target seaweedfs-filer.service
Wants=network-online.target

[Service]
Type=simple
User={{ seaweedfs_user }}
Group={{ seaweedfs_group }}
SyslogIdentifier=seaweedfs-s3

ExecStartPre=/usr/bin/test -f {{ seaweedfs_s3_config_path }}

ExecStart=/usr/local/bin/weed s3 \
  -ip.bind={{ seaweedfs_ip }} \
  -port={{ seaweedfs_port_s3 }} \
  -filer={{ seaweedfs_ip }}:{{ seaweedfs_port_filer }} \
  -config={{ seaweedfs_s3_config_path }}

ExecReload=/bin/kill -HUP $MAINPID

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target


