[Unit]
Description=SeaweedFS Filer
After=network-online.target seaweedfs-master.service seaweedfs-volume.service
Wants=network-online.target

[Service]
Type=simple
User={{ seaweedfs_user }}
Group={{ seaweedfs_group }}
SyslogIdentifier=seaweedfs-filer
WorkingDirectory={{ seaweedfs_filer_dir }}

ExecStartPre=/usr/bin/test -d {{ seaweedfs_filer_dir }}

ExecStart=/usr/local/bin/weed filer \
  -ip={{ seaweedfs_ip }} \
  -port={{ seaweedfs_port_filer }} \
  -master={{ seaweedfs_ip }}:{{ seaweedfs_port_master }} \
  -defaultStoreDir={{ seaweedfs_filer_dir }}

Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target


