[Unit]
Description=Daily timer for rclone sync to S3

[Timer]
# Run daily at the specified time
OnCalendar=*-*-* {{ rclone_s3_sync_time }}
# Randomize startup within a 1-hour window to avoid thundering herd
AccuracySec=1h
# Ensure the job runs even if the system was down at the scheduled time
Persistent=true
Unit={{ s3_sync_service_name }}.service

[Install]
WantedBy=timers.target
