[Unit]
Description=Run rclone daily sync script to S3
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ rclone_user }}
ExecStart={{ rclone_sync_script_path }}

[Install]
WantedBy=multi-user.target
