---
- name: Configure fish
  hosts: dev-workstation
  gather_facts: true
  roles:
    - common
  tasks:
    - name: Install fish
      become: true
      dnf:
        name: fish
        state: present

    - name: Add fish to shells
      command: echo /usr/bin/fish | sudo tee -a /etc/shells

    - name: Set fish as default shell
      command: chsh -s /usr/bin/fish
      become: true

    - name: Setup fish configuration directory
      file:
        path: "/home/{{ vm.dev_workstation.admin }}/.config/fish"
        state: directory
        owner: "{{ vm.dev_workstation.admin }}"
        group: "{{ vm.dev_workstation.admin }}"
        mode: "0755"

    - name: Write fish configuration
      template:
        src: config.fish.j2
        dest: "/home/{{ vm.dev_workstation.admin }}/.config/fish/config.fish"
        owner: "{{ vm.dev_workstation.admin }}"
        group: "{{ vm.dev_workstation.admin }}"
        mode: "0644"

    - name: Install Fisher package manager
      shell: |
        curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher
      args:
        executable: /usr/bin/fish

    - name: Install fisher packages
      shell: |
        fisher install jorgebucaran/nvm.fish
        fisher install jethrokuan/z
      args:
        executable: /usr/bin/fish

    - name: Setup node
      shell: |
        nvm install latest
        nvm use latest
        set --universal nvm_default_version latest
      args:
        executable: /usr/bin/fish
