---
all:
  vars:
    aether_root: "{{ lookup('env', 'PWD') }}"
    vm: "{{ lookup('file', aether_root + '/config/vm.yml') | from_yaml }}"
    secrets: "{{ lookup('file', aether_root + '/secrets/secrets.yml') | from_yaml }}"
    tf_outputs: "{{ lookup('file', aether_root + '/secrets/tf-outputs.json', errors='ignore') | default('{}', true) | from_json }}"

  children:
    home:
      children:
        machines:
          hosts:
            niobe:
              ansible_user: root
              ansible_host: 192.168.2.201
            trinity:
              ansible_user: root
              ansible_host: 192.168.2.202
            oracle:
              ansible_user: root
              ansible_host: 192.168.2.203
            smith:
              ansible_user: root
              ansible_host: 192.168.2.204
            neo:
              ansible_user: root
              ansible_host: 192.168.2.205

        vps:
          hosts:
            public-gateway:
              ansible_host: "{{ tf_outputs.aws_public_gateway_ip.value | default('') }}"
              ansible_user: "ec2-user"
              ansible_ssh_private_key_file: "{{ aether_root }}/secrets/public_gateway_private_key.pem"

        vms:
          hosts:
            vyos-packer:
              ansible_host: "{{ vm.vyos_packer.ip }}"
              ansible_user: "{{ vm.vyos_packer.admin }}"

            router:
              ansible_host: "{{ vm.router.ip.gigahub }}"
              ansible_user: "{{ vm.router.admin }}"
              ansible_network_os: vyos
              ansible_connection: network_cli
              ansible_network_cli_ssh_type: libssh

            home-gateway-stack:
              ansible_host: "{{ vm.home_gateway_stack.ip }}"
              ansible_user: "{{ vm.home_gateway_stack.admin }}"

            monitoring-stack:
              ansible_host: "{{ vm.monitoring_stack.ip }}"
              ansible_user: "{{ vm.monitoring_stack.admin }}"

            nfs:
              ansible_host: "{{ vm.nfs.ip.gigahub }}"
              ansible_user: "{{ vm.nfs.admin }}"

            dokploy:
              ansible_host: "{{ vm.dokploy.ip }}"
              ansible_user: "{{ vm.dokploy.admin }}"

            gitlab:
              ansible_host: "{{ vm.gitlab.ip }}"
              ansible_user: "{{ vm.gitlab.admin }}"

            backup-stack:
              ansible_host: "{{ vm.backup_stack.ip }}"
              ansible_user: "{{ vm.backup_stack.admin }}"

            iot-management-stack:
              ansible_host: "{{ vm.iot_management_stack.ip }}"
              ansible_user: "{{ vm.iot_management_stack.admin }}"

            dev-workstation:
              ansible_host: "{{ vm.dev_workstation.ip }}"
              ansible_user: "{{ vm.dev_workstation.admin }}"

            bazzite-builder:
              ansible_host: "{{ vm.bazzite_builder.ip }}"
              ansible_user: "{{ vm.bazzite_builder.admin }}"

            game-server:
              ansible_host: "{{ vm.game_server.ip }}"
              ansible_user: "{{ vm.game_server.admin }}"

            cockpit:
              ansible_host: "{{ vm.cockpit.ip }}"
              ansible_user: "{{ vm.cockpit.admin }}"

            messaging-stack:
              ansible_host: "{{ vm.messaging_stack.ip }}"
              ansible_user: "{{ vm.messaging_stack.admin }}"

            gpu-workstation:
              ansible_host: "{{ vm.gpu_workstation.ip }}"
              ansible_user: "{{ vm.gpu_workstation.admin }}"

            ai-tool-stack:
              ansible_host: "{{ vm.ai_tool_stack.ip }}"
              ansible_user: "{{ vm.ai_tool_stack.admin }}"

            ups-management-stack:
              ansible_host: "{{ vm.ups_management_stack.ip }}"
              ansible_user: "{{ vm.ups_management_stack.admin }}"

            media-stack:
              ansible_host: "{{ vm.media_stack.ip }}"
              ansible_user: "{{ vm.media_stack.admin }}"

            dokku:
              ansible_host: "{{ vm.dokku.ip }}"
              ansible_user: "{{ vm.dokku.admin }}"

            lute:
              ansible_host: "{{ vm.lute.ip }}"
              ansible_user: "{{ vm.lute.admin }}"

            keycloak:
              ansible_host: "{{ vm.keycloak.ip }}"
              ansible_user: "{{ vm.keycloak.admin }}"

            smallweb:
              ansible_host: "{{ vm.smallweb.ip }}"
              ansible_user: "{{ vm.smallweb.admin }}"

            step-ca:
              ansible_host: "{{ vm.step_ca.ip }}"
              ansible_user: "{{ vm.step_ca.admin }}"

            openbao:
              ansible_host: "{{ vm.openbao.ip }}"
              ansible_user: "{{ vm.openbao.admin }}"
