all:
  children:
    home:
      children:
        machines:
          hosts:
            niobe:
              ansible_host: 192.168.2.201
            trinity:
              ansible_host: 192.168.2.202
            oracle:
              ansible_host: 192.168.2.203
            smith:
              ansible_host: 192.168.2.204
        vms:
          hosts:
            vyos-packer:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).vyos_packer.ip }}"
              ansible_user: aether
            router:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).router.ip.gigahub }}"
              ansible_user: aether
              ansible_password: "{{ (lookup('file', '/workspace/secrets/secrets.yml') | from_yaml).router_password }}"
              ansible_network_os: vyos
              ansible_connection: network_cli
            gateway-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).gateway_stack.ip }}"
              ansible_user: aether
            monitoring-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).monitoring_stack.ip }}"
              ansible_user: aether
