all:
  children:
    home:
      children:
        machines:
          hosts:
            niobe:
              ansible_host: 192.168.2.201
            trinity:
              ansible_host: 192.168.2.202
            oracle:
              ansible_host: 192.168.2.203
            smith:
              ansible_host: 192.168.2.204
        vms:
          hosts:
            vyos-packer:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).vyos_packer.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).vyos_packer.admin }}"
            router:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).router.ip.gigahub }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).router.admin }}"
              ansible_password: "{{ (lookup('file', '/workspace/secrets/secrets.yml') | from_yaml).router_password }}"
              ansible_network_os: vyos
              ansible_connection: network_cli
            gateway-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).gateway_stack.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).gateway_stack.admin }}"
            monitoring-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).monitoring_stack.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).monitoring_stack.admin }}"
            nfs:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).nfs.ip.gigahub }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).nfs.admin }}"
            dokploy:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).dokploy.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).dokploy.admin }}"
            gitlab:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).gitlab.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).gitlab.admin }}"
            backup-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).backup_stack.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).backup_stack.admin }}"
            desktop:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).desktop.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).desktop.admin }}"
            home-automation-stack:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).home_automation_stack.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).home_automation_stack.admin }}"
            dev-workstation:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).dev_workstation.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).dev_workstation.admin }}"
            coupe:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).coupe.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).coupe.admin }}"
            bazzite-builder:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).bazzite_builder.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).bazzite_builder.admin }}"
            game-server:
              ansible_host: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).game_server.ip }}"
              ansible_user: "{{ (lookup('file', '/workspace/config/vm.yml') | from_yaml).game_server.admin }}"
