---
all:
  vars:
    vm: "{{ lookup('file', '/workspace/config/vm.yml') | from_yaml }}"
    secrets: "{{ lookup('file', '/workspace/secrets/secrets.yml') | from_yaml }}"
    tf_outputs: "{{ lookup('file', '/workspace/secrets/tf-outputs.json', errors='ignore') | default('{}', true) | from_json }}"

  children:
    home:
      children:
        machines:
          hosts:
            niobe:
              ansible_user: root
              ansible_host: 192.168.2.201
            trinity:
              ansible_user: root
              ansible_host: 192.168.2.202
            oracle:
              ansible_user: root
              ansible_host: 192.168.2.203
            smith:
              ansible_user: root
              ansible_host: 192.168.2.204

        vps:
          hosts:
            public-gateway:
              ansible_host: "{{ tf_outputs.aws_public_gateway_ip.value | default('') }}"
              ansible_user: "ec2-user"
              ansible_ssh_private_key_file: "/workspace/secrets/public_gateway_private_key.pem"

        vms:
          hosts:
            vyos-packer:
              ansible_host: "{{ vm.vyos_packer.ip }}"
              ansible_user: "{{ vm.vyos_packer.admin }}"

            router:
              ansible_host: "{{ vm.router.ip.gigahub }}"
              ansible_user: "{{ vm.router.admin }}"
              ansible_password: "{{ secrets.router_password }}"
              ansible_network_os: vyos
              ansible_connection: network_cli

            home-gateway-stack:
              ansible_host: "{{ vm.home_gateway_stack.ip }}"
              ansible_user: "{{ vm.home_gateway_stack.admin }}"

            monitoring-stack:
              ansible_host: "{{ vm.monitoring_stack.ip }}"
              ansible_user: "{{ vm.monitoring_stack.admin }}"

            nfs:
              ansible_host: "{{ vm.nfs.ip.gigahub }}"
              ansible_user: "{{ vm.nfs.admin }}"

            dokploy:
              ansible_host: "{{ vm.dokploy.ip }}"
              ansible_user: "{{ vm.dokploy.admin }}"

            gitlab:
              ansible_host: "{{ vm.gitlab.ip }}"
              ansible_user: "{{ vm.gitlab.admin }}"

            backup-stack:
              ansible_host: "{{ vm.backup_stack.ip }}"
              ansible_user: "{{ vm.backup_stack.admin }}"

            home-automation-stack:
              ansible_host: "{{ vm.home_automation_stack.ip }}"
              ansible_user: "{{ vm.home_automation_stack.admin }}"

            dev-workstation:
              ansible_host: "{{ vm.dev_workstation.ip }}"
              ansible_user: "{{ vm.dev_workstation.admin }}"

            coupe:
              ansible_host: "{{ vm.coupe.ip }}"
              ansible_user: "{{ vm.coupe.admin }}"

            bazzite-builder:
              ansible_host: "{{ vm.bazzite_builder.ip }}"
              ansible_user: "{{ vm.bazzite_builder.admin }}"

            game-server:
              ansible_host: "{{ vm.game_server.ip }}"
              ansible_user: "{{ vm.game_server.admin }}"

            cockpit:
              ansible_host: "{{ vm.cockpit.ip }}"
              ansible_user: "{{ vm.cockpit.admin }}"

            messaging-stack:
              ansible_host: "{{ vm.messaging_stack.ip }}"
              ansible_user: "{{ vm.messaging_stack.admin }}"
