all:
  children:
    home:
      children:
        hosts:
          hosts:
            trinity:
              hostname: trinity
              gigahub_lan_ip: 192.168.2.202
              vyos_lan_ip: 10.0.60.3
            niobe:
              hostname: niobe
              gigahub_lan_ip: 192.168.2.201
              vyos_lan_ip: 10.0.60.2
        vms:
          hosts:
            vyos-image-builder:
              hostname: vyos-image-builder
              gigahub_lan_ip: 192.168.2.230
      vars:
        gigahub_gateway: 192.168.2.1
        cluster_username: "{{ lookup('file', '../secrets/secrets.yaml').proxmox.cluster_username }}"
        cluster_password: "{{ lookup('file', '../secrets/secrets.yaml').proxmox.cluster_password }}"
