---
- name: Deploy caddy
  hosts: public-gateway
  gather_facts: true
  become: true
  tasks:
    - name: Download Caddy with Cloudflare plugin
      get_url:
        url: "https://caddyserver.com/api/download?os=linux&arch=amd64&p=github.com%2Fcaddy-dns%2Fcloudflare"
        dest: /usr/local/bin/caddy
        mode: "0755"
        timeout: 30

    - name: Create Caddy directories
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - /etc/caddy
        - /var/log/caddy
        - /var/lib/caddy

    - name: Write Caddyfile
      template:
        src: ./Caddyfile.j2
        dest: /etc/caddy/Caddyfile
        mode: "0755"

    - name: Write systemd service file
      copy:
        src: caddy.service
        dest: /etc/systemd/system/caddy.service
        mode: "0755"

    - name: Set CAP_NET_BIND_SERVICE capability
      capabilities:
        path: /usr/local/bin/caddy
        capability: cap_net_bind_service=+eip
        state: present

    - name: Reload systemd daemon
      systemd:
        daemon_reload: yes

    - name: Start and enable Caddy
      systemd:
        name: caddy
        state: started
        enabled: yes
