---
- name: Install Dokploy
  hosts: dokploy
  gather_facts: true
  roles:
    - common
    - linger
    - monitoring_agent
    - docker
  tasks:
    - name: Write docker daemon config
      become: true
      copy:
        content: |
          {
            "dns": ["10.0.0.1"],
            "default-address-pools": [
              { "base": "10.10.0.0/16", "size": 24 },
              { "base": "10.11.0.0/16", "size": 24 },
              { "base": "10.12.0.0/16", "size": 24 },
              { "base": "10.13.0.0/16", "size": 24 },
              { "base": "10.14.0.0/16", "size": 24 },
              { "base": "10.15.0.0/16", "size": 24 },
              { "base": "10.16.0.0/16", "size": 24 },
              { "base": "10.17.0.0/16", "size": 24 },
              { "base": "10.18.0.0/16", "size": 24 },
              { "base": "10.19.0.0/16", "size": 24 }
            ]
          }
        dest: /etc/docker/daemon.json
        mode: "0644"
        owner: root
        group: root

    - name: Restart docker
      become: true
      systemd:
        name: docker
        state: restarted

    - name: Check if Dokploy etc directory exists
      stat:
        path: /etc/dokploy
      register: dokploy_etc_stat

    - name: Install Dokploy
      become: true
      shell: curl -sSL https://dokploy.com/install.sh | sh
      environment:
        ADVERTISE_ADDR: "{{ vm.dokploy.ip }}"
      when: not dokploy_etc_stat.stat.exists

    - name: Start Watchtower container
      become: true
      community.docker.docker_container:
        name: watchtower
        image: containrrr/watchtower
        restart_policy: unless-stopped
        detach: true
        state: started
        pull: always
        env:
          WATCHTOWER_LOG_LEVEL: debug
          WATCHTOWER_HTTP_API_UPDATE: "true"
          WATCHTOWER_HTTP_API_TOKEN: "{{ secrets.watchtower_api_token }}"
          WATCHTOWER_HTTP_API_METRICS: "true"
          WATCHTOWER_HTTP_API_PERIODIC_POLLS: "true"
          WATCHTOWER_SCHEDULE: "0 0 0 * * *" # Every day at midnight
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
        ports:
          - "{{ vm.dokploy.ports.watchtower }}:8080"
