- hosts: home-gateway-stack
  gather_facts: true
  roles:
    - common
    - vm_baseline
    - dnf
    - role: monitoring_agent
      prometheus_scrape_configs:
        - job_name: "caddy"
          scrape_interval: 15s
          static_configs:
            - targets: ["localhost:2019"]

- name: Deploy adguard pod
  import_playbook: adguard/site.yml

- name: Deploy unifi pod
  import_playbook: unifi/site.yml

- name: Deploy caddy pod
  import_playbook: caddy/site.yml

- name: Deploy tailscale pod
  import_playbook: tailscale/site.yml
