- hosts: home-gateway-stack
  gather_facts: true
  roles:
    - common
    - dnf
    - linger
    - monitoring_agent

- name: Deploy adguard pod
  import_playbook: adguard/site.yml

- name: Deploy unifi pod
  import_playbook: unifi/site.yml

- name: Deploy caddy pod
  import_playbook: caddy/site.yml

- name: Deploy tailscale pod
  import_playbook: tailscale/site.yml
