admin:
  labels:
    - "*"
  header:
    - X-Scope-OrgID: aether
  cluster-wide: []

thanos:
  tenant-header-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      header:
        - X-Scope-OrgID: {{ tenant.name }}
{% endfor %}
  user-label-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      labels:
        - service_namespace
      service_namespace:
        - "{{ tenant.name }}"
{% endfor %}

loki:
  tenant-header-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      header:
        - X-Scope-OrgID: {{ tenant.name }}
{% endfor %}
  user-label-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      labels:
        - service_namespace
        - service_name
      service_namespace:
        - "{{ tenant.name }}"
      service_name:
        - "vc-{{ tenant.name }}/*"
{% endfor %}

tempo:
  tenant-header-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      header:
        - X-Scope-OrgID: {{ tenant.name }}
{% endfor %}
  user-label-constraints:
{% for tenant in tenants %}
    {{ tenant.keycloak_role }}:
      labels:
        - "*"
      resource.service.namespace:
        - "{{ tenant.name }}"
{% endfor %}
