---
- name: Deploy monitoring stack
  hosts: monitoring-stack
  gather_facts: true
  roles:
    - common
    - dnf
    - linger
  tasks:
    - name: Create required directories
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - ./prometheus/data
        - ./loki/data
        - ./tempo
        - ./otel
        - ./grafana/provisioning

    - name: Copy prometheus config
      copy:
        src: ./prometheus.yml
        dest: ./prometheus/prometheus.yml
        mode: "0755"

    - name: Create loki config
      copy:
        src: ./loki_config.yml
        dest: ./loki/loki_config.yml
        mode: "0755"

    - name: Create tempo config
      copy:
        src: ./tempo.yml
        dest: ./tempo/tempo.yml
        mode: "0755"

    - name: Create otel config
      copy:
        src: ./otel_config.yml
        dest: ./otel/otel_config.yml
        mode: "0755"

    - name: Create grafana config
      copy:
        src: ./grafana/grafana.ini
        dest: ./grafana/grafana.ini
        mode: "0755"

    - name: Create grafana provisioning
      copy:
        src: ./grafana/provisioning/
        dest: ./grafana/provisioning/
        mode: "0755"

    - name: Create a pod
      containers.podman.podman_pod:
        name: monitoring-stack
        ports:
          - "{{ vm.monitoring_stack.ports.grafana }}:3000"
          - "{{ vm.monitoring_stack.ports.prometheus }}:9090"
          - "{{ vm.monitoring_stack.ports.loki }}:3100"
          - "{{ vm.monitoring_stack.ports.otel_grpc }}:4317"
          - "{{ vm.monitoring_stack.ports.otel_http }}:4318"
          - "{{ vm.monitoring_stack.ports.otel_metrics }}:8888"
          - "{{ vm.monitoring_stack.ports.otel_prometheus }}:8889"
        state: quadlet
        restart_policy: on-failure
        recreate: true
        quadlet_options:
          - |
            [Install]
            WantedBy=default.target

    - name: Create prometheus storage volume
      containers.podman.podman_volume:
        name: prometheus_storage
        state: quadlet

    - name: Start prometheus
      containers.podman.podman_container:
        name: prometheus
        image: docker.io/prom/prometheus:latest
        pod: monitoring-stack.pod
        volumes:
          - prometheus_storage.volume:/prometheus
          - /home/aether/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
        command:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.path=/prometheus"
          - "--web.console.libraries=/etc/prometheus/console_libraries"
          - "--web.console.templates=/etc/prometheus/consoles"
          - "--web.enable-lifecycle"
        state: quadlet

    - name: Start Loki
      containers.podman.podman_container:
        name: loki
        image: docker.io/grafana/loki:latest
        pod: monitoring-stack.pod
        command:
          - "-config.file=/etc/loki/config.yml"
          - "-log.level=debug"
        volumes:
          - /home/aether/loki/loki_config.yml:/etc/loki/config.yml:Z
          - /home/aether/loki/data:/var/lib/loki
        state: quadlet

    - name: Start tempo
      containers.podman.podman_container:
        name: tempo
        image: docker.io/grafana/tempo:latest
        pod: monitoring-stack.pod
        command:
          - "-config.file=/etc/tempo.yaml"
          - "-log.level=debug"
        volumes:
          - /home/aether/tempo/tempo.yml:/etc/tempo.yaml:Z
        state: quadlet

    - name: Start otel collector
      containers.podman.podman_container:
        name: otel_collector
        image: docker.io/otel/opentelemetry-collector-contrib:latest
        pod: monitoring-stack.pod
        volumes:
          - /home/aether/otel/otel_config.yml:/etc/otelcol-contrib/config.yaml:Z
        state: quadlet

    - name: Create grafana storage volume
      containers.podman.podman_volume:
        name: grafana_storage
        state: quadlet

    - name: Start grafana
      containers.podman.podman_container:
        name: grafana
        pod: monitoring-stack.pod
        image: docker.io/grafana/grafana:latest
        state: quadlet
        volumes:
          - /home/aether/grafana/grafana.ini:/etc/grafana/grafana.ini:Z
          - /home/aether/grafana/provisioning:/etc/grafana/provisioning:Z
          - grafana_storage.volume:/var/lib/grafana:Z

    - name: Reload systemd
      systemd:
        daemon_reload: yes
        scope: user

    - name: Start monitoring stack quadlet
      systemd:
        name: monitoring-stack-pod
        state: restarted
        scope: user
