---
- name: Deploy monitoring stack
  hosts: monitoring-stack
  gather_facts: true
  roles:
    - common
    - vm_baseline
    - dnf
    - vm_monitoring_agent
  tasks:
    - name: Create required directories
      become: true
      file:
        path: "{{ item }}"
        state: directory
        mode: "0777"
        owner: aether
        group: aether
      loop:
        - ./prometheus/data
        - ./loki/data
        - ./tempo
        - ./otel
        - ./grafana/provisioning
        - ./ntopng/data
        - ./ntopng/redis
        - ./pve-exporter
        - ./pbs-exporter

    - name: Copy prometheus config
      copy:
        src: ./prometheus.yml
        dest: ./prometheus/prometheus.yml
        mode: "0755"

    - name: Create loki config
      copy:
        src: ./loki_config.yml
        dest: ./loki/loki_config.yml
        mode: "0755"

    - name: Create tempo config
      copy:
        src: ./tempo.yml
        dest: ./tempo/tempo.yml
        mode: "0755"

    - name: Create otel config
      copy:
        src: ./otel_config.yml
        dest: ./otel/otel_config.yml
        mode: "0755"

    - name: Create grafana config
      copy:
        src: ./grafana/grafana.ini
        dest: ./grafana/grafana.ini
        mode: "0755"

    - name: Create grafana provisioning
      copy:
        src: ./grafana/provisioning/
        dest: ./grafana/provisioning/
        mode: "0755"

    - name: Create PVE exporter config
      copy:
        content: |
          default:
            user: {{ secrets.proxmox.cluster_username }}
            token_name: {{ secrets.proxmox.monitoring_token_id }}
            token_value: "{{ secrets.proxmox.monitoring_secret }}"
            verify_ssl: false
        dest: ./pve-exporter/pve.yml
        mode: "0644"

    - name: Create monitoring stack pod
      containers.podman.podman_pod:
        name: monitoring-stack
        ports:
          - "{{ vm.monitoring_stack.ports.grafana }}:3000"
          - "{{ vm.monitoring_stack.ports.prometheus }}:9090"
          - "{{ vm.monitoring_stack.ports.loki }}:3100"
          - "{{ vm.monitoring_stack.ports.otel_grpc }}:4317"
          - "{{ vm.monitoring_stack.ports.otel_http }}:4318"
          - "{{ vm.monitoring_stack.ports.otel_metrics }}:8888"
          - "{{ vm.monitoring_stack.ports.otel_prometheus }}:8889"
          - "9221:9221" # PVE Exporter
          - "10019:10019" # PBS Exporter
        state: quadlet
        restart_policy: on-failure
        recreate: true
        quadlet_options:
          - |
            [Install]
            WantedBy=default.target

    - name: Create ntopng pod
      containers.podman.podman_pod:
        name: ntopng
        network: host
        state: quadlet
        restart_policy: on-failure
        recreate: true
        quadlet_options:
          - |
            [Install]
            WantedBy=default.target

    - name: Create prometheus storage volume
      containers.podman.podman_volume:
        name: prometheus_storage
        state: quadlet

    - name: Start prometheus
      containers.podman.podman_container:
        name: prometheus
        image: docker.io/prom/prometheus:latest
        pod: monitoring-stack.pod
        volumes:
          - prometheus_storage.volume:/prometheus
          - /home/aether/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:Z
        command:
          - "--config.file=/etc/prometheus/prometheus.yml"
          - "--storage.tsdb.path=/prometheus"
          - "--web.console.libraries=/etc/prometheus/console_libraries"
          - "--web.console.templates=/etc/prometheus/consoles"
          - "--web.enable-lifecycle"
        state: quadlet

    - name: Start Loki
      containers.podman.podman_container:
        name: loki
        image: docker.io/grafana/loki:latest
        pod: monitoring-stack.pod
        pull: always
        command:
          - "-config.file=/etc/loki/config.yml"
        volumes:
          - /home/aether/loki/loki_config.yml:/etc/loki/config.yml:Z
          - /home/aether/loki/data:/var/lib/loki:Z
        state: quadlet

    - name: Start tempo
      containers.podman.podman_container:
        name: tempo
        image: docker.io/grafana/tempo:latest
        pod: monitoring-stack.pod
        pull: always
        command:
          - "-config.file=/etc/tempo.yaml"
        volumes:
          - /home/aether/tempo/tempo.yml:/etc/tempo.yaml:Z
        state: quadlet

    - name: Start otel collector
      containers.podman.podman_container:
        name: otel_collector
        image: docker.io/otel/opentelemetry-collector-contrib:latest
        pod: monitoring-stack.pod
        pull: always
        volumes:
          - /home/aether/otel/otel_config.yml:/etc/otelcol-contrib/config.yaml:Z
        state: quadlet

    - name: Create grafana storage volume
      containers.podman.podman_volume:
        name: grafana_storage
        state: quadlet

    - name: Start grafana
      containers.podman.podman_container:
        name: grafana
        pod: monitoring-stack.pod
        image: docker.io/grafana/grafana:latest
        pull: always
        state: quadlet
        volumes:
          - /home/aether/grafana/grafana.ini:/etc/grafana/grafana.ini:Z
          - /home/aether/grafana/provisioning:/etc/grafana/provisioning:Z
          - grafana_storage.volume:/var/lib/grafana:Z

    - name: Start PVE exporter
      containers.podman.podman_container:
        name: pve_exporter
        pod: monitoring-stack.pod
        image: docker.io/prompve/prometheus-pve-exporter:latest
        pull: always
        state: quadlet
        volumes:
          - /home/aether/pve-exporter/pve.yml:/etc/prometheus/pve.yml:Z

    - name: Start PBS exporter
      containers.podman.podman_container:
        name: pbs_exporter
        pod: monitoring-stack.pod
        image: ghcr.io/natrontech/pbs-exporter:latest
        pull: always
        state: quadlet
        env:
          PBS_ENDPOINT: "https://{{ vm.backup_stack.ip }}:8007"
          PBS_USERNAME: "{{ secrets.pbs.monitoring_user }}"
          PBS_API_TOKEN: "{{ secrets.pbs.monitoring_secret }}"
          PBS_API_TOKEN_NAME: "{{ secrets.pbs.monitoring_token_id }}"
          PBS_INSECURE: "true"
          PBS_LISTEN_ADDRESS: ":10019"

    - name: Start ntopng redis
      containers.podman.podman_container:
        name: ntopng_redis
        image: docker.io/redis:alpine
        pod: ntopng.pod
        pull: always
        state: quadlet
        volumes:
          - /home/aether/ntopng/redis:/data:Z

    - name: Start netflow2ng
      containers.podman.podman_container:
        name: netflow2ng
        image: docker.io/synfinatic/netflow2ng:latest
        pull: always
        state: quadlet
        pod: ntopng.pod
        command:
          - "--tlv"

    - name: Start ntopng
      containers.podman.podman_container:
        name: ntopng
        pod: ntopng.pod
        image: docker.io/ntop/ntopng:latest
        pull: always
        state: quadlet
        command:
          - "--community"
          - "--http-port"
          - "0.0.0.0:{{ vm.monitoring_stack.ports.ntopng }}"
          - "--interface"
          - "tcp://localhost:5556"
          - "--local-networks"
          - "10.0.0.0/8,192.168.0.0/16"
        volumes:
          - /home/aether/ntopng/data:/var/lib/ntopng:Z
          - /home/aether/ntopng/redis:/var/lib/redis:Z
        cap_add:
          - NET_ADMIN
          - NET_RAW

    - name: Reload systemd
      systemd:
        daemon_reload: yes
        scope: user

    - name: Start monitoring stack quadlet
      systemd:
        name: monitoring-stack-pod
        state: restarted
        scope: user

    - name: Start ntopng pod quadlet
      systemd:
        name: ntopng-pod
        state: restarted
        scope: user
