---
- name: Set up cockpit
  hosts: cockpit
  roles:
    - common
    - vm_baseline
    - dnf
  tasks:
    - name: Write ssh private key
      copy:
        content: "{{ tf_outputs.home_cockpit_private_key.value }}"
        dest: /root/.ssh/id_ed25519
        mode: "0600"

    - name: Write ssh public key
      copy:
        content: "{{ tf_outputs.home_cockpit_public_key.value }}"
        dest: /root/.ssh/id_ed25519.pub
        mode: "0644"

    - name: Install cockpit
      dnf:
        name: cockpit
        state: present

    - name: Write cockpit configuration
      copy:
        src: cockpit.conf
        dest: /etc/cockpit/cockpit.conf
        mode: "0644"

    - name: Remove root from disallowed users
      lineinfile:
        path: /etc/cockpit/disallowed-users
        regexp: "^root$"
        line: ""
        state: present

    - name: Ensure Cockpit machines.d directory exists
      file:
        path: /etc/cockpit/machines.d
        state: directory
        mode: "0755"

    - name: Build machines dictionary
      set_fact:
        cockpit_machines: >-
          {{
            cockpit_machines | default({}) | combine({
              hostvars[item].ansible_host: {
                'address': hostvars[item].ansible_host,
                'user': hostvars[item].ansible_user,
                'visible': true
              }
            })
          }}
      loop: "{{ groups['all'] | default([]) }}"
      when:
        - hostvars[item] is defined
        - hostvars[item].ansible_host is defined
        - item != 'cockpit'

    - name: Create single machines configuration file
      copy:
        content: "{{ cockpit_machines | to_nice_json }}\n"
        dest: "/etc/cockpit/machines.d/99-webui.json"
        mode: "0644"
      when: cockpit_machines is defined

    - name: Enable cockpit
      systemd:
        name: cockpit.socket
        state: restarted
        enabled: true
