server:
  - name: default
    protocol: http
    host: {{ vm.media_stack.ip }}
    port: {{ tuliprox_port }}
    timezone: America/Toronto
    message: Welcome

user:
  - target: all_channels
    credentials:
      - username: {{ secrets.tuliprox.proxy_username }}
        password: {{ secrets.tuliprox.proxy_password }}
        proxy: reverse
        server: default
