server:
  - name: default
    protocol: https
    host: tuliprox.home.shdr.ch
    port: 443
    timezone: America/Toronto
    message: Welcome

user:
  - target: all_channels
    credentials:
      - username: {{ secrets.tuliprox.proxy_username }}
        password: {{ secrets.tuliprox.proxy_password }}
        proxy: reverse
        server: default
