templates:
  - name: ALL_CHAN
    value: 'Group ~ ".*"'

sources:
  - inputs:
{% for provider in secrets.tuliprox.providers %}
{% set primary = provider.accounts[0] %}
      - name: {{ primary.username }}
        type: xtream
        url: {{ provider.url }}
        username: {{ primary.username }}
        password: {{ primary.password }}
        max_connections: {{ primary.max_connections }}
        options:
          xtream_skip_vod: true
          xtream_skip_series: true
        epg:
          sources:
            - url: "{{ provider.url }}/xmltv.php?username={{ primary.username }}&password={{ primary.password }}"
{% if provider.accounts | length > 1 %}
        aliases:
{% for account in provider.accounts[1:] %}
          - name: {{ account.username }}
            url: {{ provider.url }}
            username: {{ account.username }}
            password: {{ account.password }}
            max_connections: {{ account.max_connections }}
{% endfor %}
{% endif %}
{% endfor %}
    targets:
      - name: all_channels
        use_memory_cache: true
        output:
          - type: xtream
          - type: m3u
            filename: playlist.m3u
        filter: "!ALL_CHAN!"
