{
  log {
    level DEBUG
  }

  acme_dns cloudflare {{ secrets.cloudflare_dns_api_key }}
}

home.shdr.ch {
  respond "Welcome home"
}

niobe.home.shdr.ch {
  reverse_proxy 192.168.2.201:8006 {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up Upgrade {http.request.header.Upgrade}
    header_up Connection {http.request.header.Connection}
  }
}

rack-switch.home.shdr.ch {
  reverse_proxy 192.168.2.221
}

office-switch.home.shdr.ch {
  reverse_proxy 192.168.2.222 {
    transport http {
      versions 1.1
      keepalive off
    }
    # Remove all headers and add back only what's needed
    header_up -*
    header_up Host 192.168.2.222
    header_up Authorization {http.request.header.Authorization}
    header_up Connection "close"
    # No buffering for CGI
    flush_interval -1
  }
}

dns.home.shdr.ch {
  reverse_proxy {{ vm.home_gateway_stack.ip }}:{{ vm.home_gateway_stack.ports.adguard_admin }}
}

ap.home.shdr.ch {
  reverse_proxy https://{{ vm.home_gateway_stack.ip }}:{{ vm.home_gateway_stack.ports.unifi_admin }} {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up Upgrade {http.request.header.Upgrade}
    header_up Connection {http.request.header.Connection}
  }
}

grafana.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.grafana }}
}


otel.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_http }}
}

otel-grpc.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_grpc }}
}

otel-metrics.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_metrics }}
}

otel-prometheus.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_prometheus }}
}

prometheus.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.prometheus }}
}

loki.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.loki }}
}

kvm.home.shdr.ch {
  reverse_proxy https://192.168.2.220 {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
  }
}

d.home.shdr.ch, *.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}
}

traefik.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}:{{ vm.dokploy.ports.traefik }}
}

watchtower.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}:{{ vm.dokploy.ports.watchtower }}
}

core.lute.home.shdr.ch  {
  reverse_proxy {{ vm.lute.ip }}:{{ vm.lute.ports.core }} {
    transport http {
      versions h2c
    }
  }
}

lute.home.shdr.ch, *.lute.home.shdr.ch, *.dev.lute.home.shdr.ch  {
  reverse_proxy {{ vm.lute.ip }}
}

traefik.lute.home.shdr.ch {
  reverse_proxy {{ vm.lute.ip }}:{{ vm.lute.ports.traefik }}
}

gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}
}

registry.gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}:{{ vm.gitlab.ports.gitlab_registry }}
}

pages.gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}:{{ vm.gitlab.ports.gitlab_pages }}
}

ha.home.shdr.ch {
  reverse_proxy {{ vm.iot_management_stack.ip }}:{{ vm.iot_management_stack.ports.home_assistant }}
}

z.ha.home.shdr.ch {
  reverse_proxy {{ vm.iot_management_stack.ip }}:{{ vm.iot_management_stack.ports.zwavejs }}
}

sunshine.game.home.shdr.ch {
  reverse_proxy {{ vm.game_server.ip }}:{{ vm.game_server.ports.sunshine }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

cockpit.home.shdr.ch {
  reverse_proxy {{ vm.cockpit.ip }}:{{ vm.cockpit.ports.cockpit }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

element.home.shdr.ch {
  reverse_proxy {{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.element }}
}

matrix.home.shdr.ch {
  reverse_proxy /_matrix/* {{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.synapse }}
  reverse_proxy /_synapse/client/* {{ vm.messaging_stack.ip }}:{{ vm.messaging_stack.ports.synapse }}
}

ollama.home.shdr.ch {
  reverse_proxy {{ vm.gpu_workstation.ip }}:{{ vm.gpu_workstation.ports.ollama }}
}

comfyui.home.shdr.ch {
  reverse_proxy {{ vm.gpu_workstation.ip }}:{{ vm.gpu_workstation.ports.comfyui }}
}

docling.home.shdr.ch {
  reverse_proxy {{ vm.gpu_workstation.ip }}:{{ vm.gpu_workstation.ports.docling }}
}

jupyter.home.shdr.ch {
  reverse_proxy {{ vm.gpu_workstation.ip }}:{{ vm.gpu_workstation.ports.jupyter }}
}

swarmui.home.shdr.ch {
  reverse_proxy {{ vm.gpu_workstation.ip }}:{{ vm.gpu_workstation.ports.swarmui }}
}

litellm.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.litellm }}
}

openwebui.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.openwebui }}
}

mcpo.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.mcpo }}
}

searxng.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.searxng }}
}

firecrawl.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.firecrawl }}
}

mcp.firecrawl.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.firecrawl_mcp }}
}

bytebot.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.bytebot_ui }}
}

desktop.bytebot.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.bytebot_desktop }}
}

agent.bytebot.home.shdr.ch {
  reverse_proxy {{ vm.ai_tool_stack.ip }}:{{ vm.ai_tool_stack.ports.bytebot_agent }}
}


:9443 {
  @shdrch host shdr.ch
  @ai host ai.shdr.ch

  handle @shdrch {
    respond "Welcome home."
  }

  handle @ai {
    reverse_proxy {{ vm.dokploy.ip }} {
      header_up Host "open-webui.d.home.shdr.ch"
    }
  }
}
