---
- name: Configure NFS server
  hosts: nfs
  vars:
    nfs_exports:
      - path: /mnt/nvme/vm
        options: "rw,sync,no_subtree_check,no_root_squash"
      - path: /mnt/hdd/vm
        options: "rw,sync,no_subtree_check,no_root_squash"
    allowed_ips:
      - "{{ hostvars['trinity'].ansible_host }}"
      - "{{ hostvars['oracle'].ansible_host }}"
      - "{{ hostvars['smith'].ansible_host }}"
      - "{{ hostvars['niobe'].ansible_host }}"
  roles:
    - common
  tasks:
    - name: Install required packages
      dnf:
        name:
          - nfs-utils
          - kernel-modules-extra
        state: present

    - name: Ensure /var/lib/nfs directory exists with correct permissions
      file:
        path: /var/lib/nfs
        state: directory
        mode: "0755"
        owner: root
        group: root

    - name: Ensure required NFS state files exist
      file:
        path: "{{ item }}"
        state: touch
        mode: "0644"
        owner: root
        group: root
      with_items:
        - /var/lib/nfs/etab
        - /var/lib/nfs/rmtab

    - name: Ensure rpcbind service is enabled and started
      systemd:
        name: rpcbind
        enabled: yes
        state: started

    - name: Ensure nfs-server service is enabled and started
      systemd:
        name: nfs-server
        enabled: yes
        state: started

    - name: Write exports file
      copy:
        content: |
          {% for export in nfs_exports %}
          {{ export.path }} {% for ip in allowed_ips %}{{ ip }}({{ export.options }}) {% endfor %}

          {% endfor %}
        dest: /etc/exports

    - name: Refresh NFS exports
      command: exportfs -r
