---
- name: Install necessary packages on Proxmox hosts
  hosts: machines
  become: true
  become_method: su
  roles:
    - common
    - ssh_ca_trust

  tasks:
    - name: Install proxmoxer
      apt:
        name:
          - python3-pip
          - python3-proxmoxer
        state: present

    - name: Enable Proxmox Snippets
      command: pvesm set local --content images,rootdir,vztmpl,backup,iso,snippets
