external_url 'https://gitlab.home.shdr.ch'
gitlab_rails['gitlab_shell_ssh_port'] = 2222
gitlab_rails['initial_root_password'] = "{{ secrets.gitlab_root_password }}"
nginx['listen_port'] = 80
nginx['listen_https'] = false
letsencrypt['enable'] = false
