- hosts: gitlab
  gather_facts: true
  roles:
    - common
    - vm_baseline
    - dnf
    - vm_monitoring_agent

- name: Deploy GitLab
  import_playbook: gitlab.yml

- name: Deploy GitLab runners
  import_playbook: runners.yml
