---
- name: Configure GitLab CI/CD variables for Dokku
  hosts: gitlab
  gather_facts: true
  roles:
    - common
  tasks:
    - name: Wait for GitLab API to be ready
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/version
        method: GET
        validate_certs: no
        status_code:
          - 200
          - 401
      register: gitlab_api_health
      until: gitlab_api_health.status in [200, 401]
      retries: 30
      delay: 10

    - name: Generate temporary personal access token for CI/CD variable management
      shell: openssl rand -hex 16
      register: gitlab_ci_pat

    - name: Delete any existing dokku_ci_vars_pat tokens
      containers.podman.podman_container_exec:
        name: gitlab
        command: |
          gitlab-rails runner "
            User.find_by_username('shdrch').personal_access_tokens
              .where(name: 'dokku_ci_vars_pat')
              .destroy_all
          "
      failed_when: false

    - name: Create personal access token with API scope
      containers.podman.podman_container_exec:
        name: gitlab
        command: |
          gitlab-rails runner "
            token = User.find_by_username('shdrch').personal_access_tokens.build(
              scopes: ['api'],
              name: 'dokku_ci_vars_pat',
              expires_at: 1.day.from_now
            );
            token.set_token('{{ gitlab_ci_pat.stdout }}');
            token.save!
          "
      register: gitlab_pat_response

    - name: Delete existing DOKKU_SSH_KEY variable
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables/DOKKU_SSH_KEY
        method: DELETE
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
        validate_certs: no
        status_code: [204, 404]
      when: tf_outputs.home_dokku_gitlab_private_key is defined

    - name: Create DOKKU_SSH_KEY variable in GitLab CI/CD
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables
        method: POST
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
          Content-Type: "application/json"
        body:
          key: "DOKKU_SSH_KEY"
          value: "{{ tf_outputs.home_dokku_gitlab_private_key.value }}"
          variable_type: "file"
          protected: false
          masked: false
          raw: false
        body_format: json
        validate_certs: no
        status_code: [201]
      when: tf_outputs.home_dokku_gitlab_private_key is defined

    - name: Delete existing DOKKU_HOST variable
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables/DOKKU_HOST
        method: DELETE
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
        validate_certs: no
        status_code: [204, 404]

    - name: Create DOKKU_HOST variable in GitLab CI/CD
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables
        method: POST
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
          Content-Type: "application/json"
        body:
          key: "DOKKU_HOST"
          value: "{{ vm.dokku.ip }}"
          variable_type: "env_var"
          protected: false
          masked: false
          raw: false
        body_format: json
        validate_certs: no
        status_code: [201]

    - name: Delete existing DOKKU_SSH_PORT variable
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables/DOKKU_SSH_PORT
        method: DELETE
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
        validate_certs: no
        status_code: [204, 404]

    - name: Create DOKKU_SSH_PORT variable in GitLab CI/CD
      uri:
        url: https://gitlab.home.shdr.ch/api/v4/admin/ci/variables
        method: POST
        headers:
          PRIVATE-TOKEN: "{{ gitlab_ci_pat.stdout }}"
          Content-Type: "application/json"
        body:
          key: "DOKKU_SSH_PORT"
          value: "{{ vm.dokku.ports.ssh }}"
          variable_type: "env_var"
          protected: false
          masked: false
          raw: false
        body_format: json
        validate_certs: no
        status_code: [201]

    - name: Clean up personal access token
      containers.podman.podman_container_exec:
        name: gitlab
        command: |
          gitlab-rails runner "
            User.find_by_username('shdrch').personal_access_tokens
              .where(name: 'dokku_ci_vars_pat')
              .destroy_all
          "
      failed_when: false
