#!/usr/sbin/nft -f

table inet aether_wireguard {
  chain input {
    type filter hook input priority -5; policy accept;
    iifname "{{ site_wireguard_interface }}" ct state established,related accept
    iifname "{{ site_wireguard_interface }}" ip protocol icmp accept
{% for cidr in site_wireguard_input_allow_cidrs %}
    iifname "{{ site_wireguard_interface }}" ip saddr {{ cidr }} accept
{% endfor %}
    iifname "{{ site_wireguard_interface }}" ip saddr {{ site_wireguard_monitoring_source }} ip daddr {{ site_wireguard_source_address }} tcp dport { {{ site_wireguard_monitoring_ports | join(', ') }} } accept
{% for svc in site_wireguard_service_allow %}
{% for cidr in svc.cidrs %}
    iifname "{{ site_wireguard_interface }}" ip saddr {{ cidr }} ip daddr {{ svc.daddr | default(site_wireguard_source_address) }} {{ svc.proto }} dport {{ svc.port }} accept
{% endfor %}
{% endfor %}
    iifname "{{ site_wireguard_interface }}" counter drop
  }

{% if site_wireguard_topology_role == 'hub' %}
  chain forward {
    type filter hook forward priority -5; policy accept;
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" ct state established,related accept
{% for tgt in site_wireguard_monitoring_targets %}
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" ip saddr {{ site_wireguard_monitoring_source }} ip daddr {{ tgt }} tcp dport { {{ site_wireguard_monitoring_ports | join(', ') }} } accept
{% endfor %}
{% for cidr in site_wireguard_forward_allow_cidrs %}
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" ip saddr {{ cidr }} accept
{% endfor %}
{% for fwd in site_wireguard_service_forwards %}
{% for s in fwd.saddr %}
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" ip saddr {{ s }} ip daddr {{ fwd.daddr }} {{ fwd.proto }} dport { {{ fwd.ports | join(', ') }} } accept
{% endfor %}
{% endfor %}
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" ip protocol icmp accept
    iifname "{{ site_wireguard_interface }}" oifname "{{ site_wireguard_interface }}" counter drop
  }
{% endif %}
}
