#!/bin/bash

set -e
set -x

# export DEBIAN_FRONTEND=noninteractive

# delete interfaces ethernet eth0 address
# delete interfaces ethernet eth0 hw-id
# delete system name-server

cat <<EOF > /home/vyos/configure-vyos.sh
#!/bin/vbash
source /opt/vyatta/etc/functions/script-template
configure
set system login user aether authentication plaintext-password '{{ secrets.router_password }}'
{% for key in ssh_authorized_keys %}
set system login user aether authentication public-keys 'User-{{ loop.index }}' key '{{ key.split(' ')[1] }}'
set system login user aether authentication public-keys 'User-{{ loop.index }}' type '{{ key.split(' ')[0] }}'
{% endfor %}

commit
save
exit
EOF
chmod 0700 /home/vyos/configure-vyos.sh
chown vyos:users /home/vyos/configure-vyos.sh
su - vyos -c "/home/vyos/configure-vyos.sh"
rm -rf /home/vyos/configure-vyos.sh

cat <<EOF > /opt/vyatta/etc/config/scripts/vyos-postconfig-bootup.script
#!/bin/vbash
source /opt/vyatta/etc/functions/script-template
configure
set system host-name 'aether-home-router'
set interfaces ethernet eth0 address {{ vm.router.ip.gigahub }}/24
set interfaces ethernet eth1 address {{ vm.router.ip.vyos }}/16
commit
save
exit
EOF
