{
  "settings": {
    "dnsServerDomain": "{{ technitium_server_domain }}",
    "dnsServerLocalEndPoints": ["{{ technitium_wg_ip }}:53", "127.0.0.1:53"],
    "webServiceLocalAddresses": ["{{ technitium_wg_ip }}", "127.0.0.1"],
    "blockListUrls": {{ technitium_blocklist_urls | to_json }}
  }{% if technitium_cluster_enabled and technitium_primary_admin_password | length > 0 %},
  "cluster": {
    "mode": "secondary",
    "nodeIp": "{{ technitium_wg_ip }}",
    "primaryUrl": "https://ns2.dns.home.shdr.ch:53443/",
    "primaryIp": "192.168.2.237"
  }{% endif %}
}
