{
  log {
    level DEBUG
  }

  acme_dns cloudflare {{ secrets.cloudflare_dns_api_key }}
}

home.shdr.ch {
  respond "Welcome home"
}

niobe.home.shdr.ch {
  reverse_proxy 192.168.2.201:8006 {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up Upgrade {http.request.header.Upgrade}
    header_up Connection {http.request.header.Connection}
  }
}

rack-switch.home.shdr.ch {
  reverse_proxy 10.0.3.2
}

dns.home.shdr.ch {
  reverse_proxy {{ vm.gateway_stack.ip }}:{{ vm.gateway_stack.ports.adguard_admin }}
}

ap.home.shdr.ch {
  reverse_proxy https://{{ vm.gateway_stack.ip }}:{{ vm.gateway_stack.ports.unifi_admin }} {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
    header_up X-Real-IP {http.request.remote}
    header_up X-Forwarded-For {http.request.remote}
    header_up Upgrade {http.request.header.Upgrade}
    header_up Connection {http.request.header.Connection}
  }
}

grafana.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.grafana }}
}


otel.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_http }}
}

otel-grpc.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_grpc }}
}

otel-metrics.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_metrics }}
}

otel-prometheus.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_prometheus }}
}

prometheus.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.prometheus }}
}

loki.home.shdr.ch {
  reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.loki }}
}

kvm.home.shdr.ch {
  reverse_proxy https://192.168.2.220 {
    transport http {
      tls
      tls_insecure_skip_verify
    }
    header_up Host {http.request.host}
  }
}

d.home.shdr.ch, *.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}
}

traefik.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}:{{ vm.dokploy.ports.traefik }}
}

watchtower.d.home.shdr.ch {
  reverse_proxy {{ vm.dokploy.ip }}:{{ vm.dokploy.ports.watchtower }}
}

core.lute.home.shdr.ch  {
  reverse_proxy {{ vm.lute.ip }}:{{ vm.lute.ports.core }} {
    transport http {
      versions h2c
    }
  }
}

lute.home.shdr.ch, *.lute.home.shdr.ch, *.dev.lute.home.shdr.ch  {
  reverse_proxy {{ vm.lute.ip }}
}

traefik.lute.home.shdr.ch {
  reverse_proxy {{ vm.lute.ip }}:{{ vm.lute.ports.traefik }}
}

gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}
}

registry.gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}:{{ vm.gitlab.ports.gitlab_registry }}
}

pages.gitlab.home.shdr.ch {
  reverse_proxy {{ vm.gitlab.ip }}:{{ vm.gitlab.ports.gitlab_pages }}
}

ha.home.shdr.ch {
  reverse_proxy {{ vm.home_automation_stack.ip }}:{{ vm.home_automation_stack.ports.home_assistant }}
}

sunshine.game.home.shdr.ch {
  reverse_proxy {{ vm.game_server.ip }}:{{ vm.game_server.ports.sunshine }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
