{
	log {
		level DEBUG
	}

	acme_dns cloudflare {{ secrets.cloudflare_dns_api_key }}
}

home.shdr.ch {
	respond "Welcome home"
}

rack-switch.home.shdr.ch {
	reverse_proxy 10.0.3.2
}

dns.home.shdr.ch {
	reverse_proxy {{ vm.gateway_stack.ip }}:{{ vm.gateway_stack.ports.adguard_admin }}
}

ap.home.shdr.ch {
	reverse_proxy https://{{ vm.gateway_stack.ip }}:{{ vm.gateway_stack.ports.unifi_admin }} {
		transport http {
			tls
			tls_insecure_skip_verify
		}
		header_up Host {http.request.host}
		header_up X-Real-IP {http.request.remote}
		header_up X-Forwarded-For {http.request.remote}
		header_up Upgrade {http.request.header.Upgrade}
		header_up Connection {http.request.header.Connection}
	}
}

signoz.home.shdr.ch {
	reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.signoz_admin }}
}

otel.home.shdr.ch {
	reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_http }}
}

otel-grpc.home.shdr.ch {
	reverse_proxy {{ vm.monitoring_stack.ip }}:{{ vm.monitoring_stack.ports.otel_grpc }}
}
