---
- name: Deploy caddy pod
  hosts: gateway-stack
  gather_facts: true
  roles:
    - common
  tasks:
    - name: Create required directories
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - ./caddy/conf
        - ./caddy/data
        - ./caddy/config

    - name: Copy Caddyfile
      template:
        src: ./Caddyfile.j2
        dest: ./caddy/conf/Caddyfile
        mode: "0755"

    - name: Copy dockerfile
      copy:
        src: Dockerfile
        dest: ./caddy/Dockerfile
        mode: "0755"

    - name: Create caddy pod
      containers.podman.podman_pod:
        name: caddy
        state: quadlet
        network: host
        restart_policy: on-failure
        recreate: true

    - name: Create caddy image
      containers.podman.podman_image:
        name: aether-caddy
        path: ./caddy
        state: present

    - name: Create caddy container
      containers.podman.podman_container:
        name: caddy
        image: aether-caddy
        state: quadlet
        pod: caddy.pod
        cap_add:
          - NET_ADMIN
        volumes:
          - /home/aether/caddy/conf:/etc/caddy:Z
          - /home/aether/caddy/data:/data:Z
          - /home/aether/caddy/config:/config:Z

    - name: Reload systemd
      systemd:
        daemon_reload: yes
        scope: user

    - name: Start caddy quadlets
      systemd:
        name: caddy-pod
        state: restarted
        scope: user
