[Unit]
Description=Upstream Prometheus WireGuard exporter
Documentation=https://github.com/MindFlavor/prometheus_wireguard_exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/{{ wireguard_exporter_container_engine }} rm --force aether-wireguard-exporter
ExecStart=/usr/bin/{{ wireguard_exporter_container_engine }} run --rm --name aether-wireguard-exporter --network=host --user=0:0 --cap-drop=all --cap-add=NET_ADMIN --security-opt=no-new-privileges --read-only --pull=never --log-driver=journald --volume={{ wireguard_exporter_peer_config_path }}:/etc/wireguard-exporter/peers.conf:ro,Z {{ wireguard_exporter_image }} -a false -l {{ wireguard_exporter_listen_address }} -p {{ wireguard_exporter_port }} -i {{ wireguard_exporter_interface }} -n /etc/wireguard-exporter/peers.conf -d {{ (wireguard_exporter_handshake_delay_enabled | bool) | ternary('true', 'false') }}
ExecStop=/usr/bin/{{ wireguard_exporter_container_engine }} stop --time=10 aether-wireguard-exporter
Restart=always
RestartSec=5s
TimeoutStartSec=0
TimeoutStopSec=30
Delegate=yes

[Install]
WantedBy=multi-user.target
