---
- name: Mount NFS shares for media storage
  hosts: media-stack
  become: true
  gather_facts: true

  tasks:
    - name: Install NFS client utilities
      ansible.builtin.dnf:
        name:
          - nfs-utils
        state: present

    - name: Unmount old /mnt/media if present
      ansible.posix.mount:
        path: /mnt/media
        state: unmounted
      ignore_errors: true

    - name: Remove old /mnt/media mount from fstab
      ansible.posix.mount:
        path: /mnt/media
        state: absent
      ignore_errors: true

    - name: Remove old /mnt/media directory
      ansible.builtin.file:
        path: /mnt/media
        state: absent
      ignore_errors: true

    - name: Unmount old paths if present
      ansible.posix.mount:
        path: "{{ item }}"
        state: unmounted
      loop:
        - /mnt/nvme
        - /mnt/hdd
        - /mnt/personal
        - /nvme/data
        - /nvme/personal
        - /hdd/data
      ignore_errors: true

    - name: Remove old paths from fstab
      ansible.posix.mount:
        path: "{{ item }}"
        state: absent
      loop:
        - /mnt/nvme
        - /mnt/hdd
        - /mnt/personal
      ignore_errors: true

    - name: Create mount points
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - /nvme/data
        - /nvme/personal
        - /hdd/data

    - name: Mount NFS share for nvme/data
      ansible.posix.mount:
        path: /nvme/data
        src: "{{ vm.nfs.ip.vyos }}:/mnt/nvme/data"
        fstype: nfs4
        opts: defaults,_netdev,noatime
        state: mounted

    - name: Mount NFS share for nvme/personal
      ansible.posix.mount:
        path: /nvme/personal
        src: "{{ vm.nfs.ip.vyos }}:/mnt/nvme/personal"
        fstype: nfs4
        opts: defaults,_netdev,noatime
        state: mounted

    - name: Mount NFS share for hdd/data
      ansible.posix.mount:
        path: /hdd/data
        src: "{{ vm.nfs.ip.vyos }}:/mnt/hdd/data"
        fstype: nfs4
        opts: defaults,_netdev,noatime
        state: mounted
