---
- name: Deploy media stack
  hosts: media-stack
  gather_facts: true
  roles:
    - common
    # - dnf
    # - vm_baseline
    # - role: vm_monitoring_agent
    #   prometheus_scrape_configs:
    #     - job_name: "qbittorrent"
    #       scrape_interval: 15s
    #       static_configs:
    #         - targets:
    #             ["localhost:{{ vm.media_stack.ports.qbittorrent_exporter }}"]

- name: Mount NFS share
  import_playbook: mount_nfs.yml

- name: Deploy qBittorrent
  import_playbook: qbittorrent.yml

- name: Deploy Prowlarr
  import_playbook: prowlarr.yml

- name: Deploy SABnzbd
  import_playbook: sabnzbd.yml

- name: Deploy Filestash
  import_playbook: filestash.yml
