---
- name: Configure ZFS Local Replication
  hosts: smith
  roles:
    - common
  tasks:
    - name: Install sanoid
      apt:
        name: sanoid
        state: present

    - name: Schedule syncoid job for nvme/personal to hdd/backups-data/personal
      cron:
        name: syncoid nvme/personal to hdd/backups-data/personal
        hour: 2
        minute: 30
        job: /usr/sbin/syncoid -r nvme/personal hdd/backups-data/personal
        user: root
        cron_file: zfs_local_replication_personal

    - name: Schedule syncoid job for nvme/data to hdd/backups-data/data
      cron:
        name: syncoid nvme/data to hdd/backups-data/data
        hour: 2
        minute: 30
        job: /usr/sbin/syncoid -r nvme/data hdd/backups-data/data
        user: root
        cron_file: zfs_local_replication_data
